<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
  <style>
    .error{
      color: #bd2310;
    }
  </style>
</th:block>
<div layout:fragment="content">
  <form th:action="@{/users/modify}" method="post" role="form" th:object="${user}">
    <h1 class="h3 mb-3 fw-normal">내 정보 수정</h1>
    <hr>
    <input type="hidden" th:field="*{id}" name="id"/>
    <div class="form-group">
      <label th:for="email">이메일 주소</label>
      <input type="email" th:field="*{email}" name="email" class="form-control"  th:readonly="readonly"/>
    </div>
    <div class="form-group">
      <label th:for="text">이름</label>
      <input type="text" th:field="*{name}" name="name" class="form-control" placeholder="이름을 입력해주세요"
             th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'"/>
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{password}">INPUT ERROR</p>
    </div>
    <div class="form-group">
      <label th:for="password">비밀번호</label>
      <input type="password" th:field="*{password}" name="password" class="form-control" placeholder="비밀번호를 입력해주세요"
             th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'"/>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">INPUT ERROR</p>
    </div>
    <button class="btn btn-primary">회원 수정</button>
    <button type="button" class="btn btn-primary" onClick="window.history.back();">취소</button>
    <button type="button" class="btn btn-primary" th:field="*{id}" onClick="location.href='/users/delete/{id}">회원 탈퇴</button>
  </form>
</div>