<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
  <style>
    .error{
      color: #bd2310;
    }
  </style>
</th:block>
<div layout:fragment="content">
  <form th:action="@{/users/signIn}" method="post" role="form" th:object="${signInForm}">
    <div class="form-group">
      <label th:for="email">이메일 주소</label>
      <input type="email" th:field="*{email}" name="email" class="form-control" placeholder="이메일을 입력해주세요"
             th:class="${#fields.hasErrors('email')} ? 'form-control fieldError' : 'form-control'"/>
      <p id="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">INPUT ERROR</p>
    </div>
    <div class="form-group">
      <label th:for="password">비밀번호</label>
      <input type="password" th:field="*{password}" name="password" class="form-control" placeholder="비밀번호를 입력해주세요"
             th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'"/>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">INPUT ERROR</p>
    </div>
    <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
    <button class="btn btn-primary">로그인</button>
    <button type="button" class="btn btn-primary" onClick="location.href='/users/signUp'">회원가입</button>
  </form>
</div>