<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: limegreen; margin-bottom: 60px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/users/main">Basic Board</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!--<ul class="navbar-nav">-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:if="${pageName == 'home'}" class="nav-link active" aria-current="page" href="/users/main">Home</a>
                        <a th:unless="${pageName == 'home'}" class="nav-link" aria-current="page" href="/users/main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${pageName == 'greeting'}" class="nav-link active" aria-current="page" href="/boards/greeting">후기게시판</a>
                        <a th:unless="${pageName == 'greeting'}" class="nav-link" aria-current="page" href="/boards/greeting">후기게시판</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${pageName == 'free'}" class="nav-link active" aria-current="page" href="/boards/free">자유게시판</a>
                        <a th:unless="${pageName == 'free'}" class="nav-link" aria-current="page" href="/boards/free">자유게시판</a>
                    </li>

                </ul>
            </div>
            <div class="justify-content-between" id="navbarNav" style="padding: 5px 30px">

                <!-- 로그인 안 했을때 -->
                <ul class="navbar-nav" sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <button class="btn nav-btn" onclick="location.href = '/users/signIn'">로그인</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-btn" onclick="location.href = '/users/signUp'">회원가입</button>
                    </li>
                </ul>

                <!-- 로그인 했을때 -->
                <ul class="navbar-nav"sec:authorize="isAuthenticated()">
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <button class="btn nav-btn" onclick="location.href = '/users/admin'" style="width: fit-content">관리자 페이지</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-btn" onclick="location.href = '/users/modify'">회원 수정</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-btn" onclick="location.href = '/users/logout'">로그아웃</button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

</body>

</html>